body{
    background-color:thistle !important;
}

.success{
    background-color: green;
}
.error{
    background-color: red;
}

#addtitle,#addauthor,#addprice,#search{
    font-size: 1em;
}
#submit{
    background-color: #222222;
}
#search{
    height: 3.2rem;
    background-color: #222222;
}
.input-icons i { 
    position: absolute; 
} 
  
.input-icons { 
    width: 100%; 
    margin-bottom: 10px; 
    
} 
.icon { 
    padding: 10px; 
    min-width: 20px; 
    color:red;
} 
.input-field { 
    width: 100%; 
    padding: 10px; 
    
} 